:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  background: #000;
  color: #999;
}

ul {
  list-style: none;
  margin-left: 0;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

b {
  font-weight: 400;
}

p {
  margin: 0.5rem 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

img {
  width: 100%;
}

/* h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} */

.top-page {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("../img/bg.jpg") no-repeat, center center/cover;
}

.top-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 50px 100px 250px #000000, inset -50px -100px 250px #000000;
}

.top-area {
  position: relative;
  z-index: 2;
  height: 90px;
}
.top-area img {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 5%;
}

.top-area a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.top-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: normal;
  margin-top: 5rem;
  z-index: 2;
  width: 100%;
}

.top-content h1 {
  font-weight: 600;
  max-width: 640px;
  margin: 1rem auto;
  line-height: 1.1;
  font-size: 3.125rem;
}

.top-content h2 {
  font-size: 1.725rem;
  margin: 1rem auto;
  font-weight: 300;
  color: #fff;
  line-height: 1.2;
}

.top-content h3 {
  font-size: 1.125rem;
  margin: 1rem auto;
  font-weight: 500;
  color: #fff;
  margin: 0 0 2rem;
  line-height: 1.2;
}

.emailer {
  -webkit-writing-mode: horizontal-tb;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  width: 50%;
  font: 400 13.3333px Arial;
  padding: 0.8rem 2.1rem;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}

.first-section {
  border-top: 8px solid #222;
  border-bottom: 8px solid #222;
  display: flex;
}

.first-section .box {
  flex: 1;
  text-align: center;
}

.first-section .text {
  text-align: center;
  padding: 100px;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.first-section .text h1 {
  font-size: 4rem;
  margin: 0 0 0.4em;
  font-weight: bold;
}

.offline {
  display: flex;
  border-bottom: 0.6rem solid rgb(43, 41, 40);
}
.offline .box {
  flex: 1;
  text-align: center;
}

.offline .text {
  text-align: center;
  padding: 100px;
}
.offline .text h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin: 0 0 0.4em;
  max-width: 700px;
}
.offline .text p {
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.stream {
  display: flex;
  border-bottom: 0.6rem solid rgb(43, 41, 40);
}
.stream .box {
  flex: 1;
  text-align: center;
}

.stream .text {
  text-align: center;
  padding: 70px;
}
.stream .text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.stream .text p {
  font-weight: 400;
}

.kids {
  display: flex;
  border-bottom: 0.6rem solid rgb(43, 41, 40);
}
.kids .box {
  flex: 1;
  text-align: center;
}

.kids img {
  width: 100%;
  height: auto;
}
.kids .text {
  text-align: center;
  padding: 100px;
}
.kids .text h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.kids .text p {
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.faq {
  background-color: black;
  padding-bottom: 50px;
  color: white;
  border-bottom: 7px solid rgba(90, 90, 90, 0.575);
  margin-bottom: 0.5rem;
}

.faq h1 {
  text-align: center;
  margin: 50px auto 30px auto;
}

.accordionItemHeading {
  background-color: #303030;
  color: white;
  margin: 10px auto 0 auto;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.5s;
  font-weight: 400;
}

.accordionItemHeading::after {
  content: "\002b";
  font-size: 1.5rem;
  color: white;
  float: right;
  transition: 600ms;
}

.active::after {
  content: "\00D7";
}
.accordionItemContent {
  padding: 0 18px;
  background-color: #303030;
  overflow: hidden;
  border-top: 1px solid black;
  display: none;
}

.accordionItem {
  max-width: none;
  margin-right: 7rem;
  margin-left: 7rem;
}
.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  float: left;
  display: block;
}

.open .accordionItemContent {
  padding: 20px;
  background-color: #303030;
  color: #fff;
  width: 100%;

  font-size: 1.5rem;
  margin: 0px 0px 10px 0px;
  display: block;
  font-weight: 400;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.open .accordionItemHeading {
  margin: 1.5px;

  background-color: #303030;
  color: #fff;
}

.footer_section {
  background-color: black;
  color: #757575;
  font-size: 14px;
  width: 100%;
}

.footer_wrapper {
  padding: 50px 2%;
}
span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer_list_container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  margin-right: 120px;
  margin-left: 120px;
}
.footer_head {
  padding-left: 30px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
ul li {
  box-sizing: border-box;
  margin-bottom: 16px;
  display: inline-block;
  min-width: 100px;
  width: 70%;
  vertical-align: top;
  text-align: left;
}

/* text and button styling */

.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-lg {
  font-size: 1rem;
  padding: 1rem 2.1rem;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  font-weight: bold;
}
